
:root{
--primary-color: #ffffff;
--link-color: #506690;
--btn-hover-color: #2b50c7;
--lg-heading: #161c2d;
--text-content: #869ab8;
--btn: rgb(235, 235, 235);
}

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    font-family: "montserrat";

}

img{
    width: 100%;
}

a{
    text-decoration: none;

}

.big-wrapper{
    background-image: 
    url("images/bg-hero-desktop.svg");
    padding: 1.7rem 0 2rem;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}   

.container{
    background-color: none;
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: l0;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img{
    width: 130px;
    margin-right: 0.6rem;
    margin-top: -0.6rem;
}

/* .logo h3{
    color: var(--lg-heading);
    font-size: 1.55rem;
    line-height: 1.2;
    font-weight: 700;
} */

.link ul{
    display: flex;
    list-style: none;
    align-items: center;
}

/* .link a{
    color: var(--lg-heading);
    margin-left: 4.5rem;
    display: inline-block;
    box-shadow: #161c2d;
} */

.btn{
    /* display: inline-block; */
    font-weight: bold;
    font-size: 12px;
    padding: 12px 40px;
    color: rgb(36, 36, 36) !important;
    background-color: var(--primary-color);
    border-radius: 20px;
    box-shadow: 0px 2px 2px rgba(8, 8, 8, 0.274);
    text-transform: none;
    transition: 0.3s;

}

.btn:hover{
    background-color: var(--text-content);
    transform: scale(1) !important;
    
}

.showcase-area .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.butts{
    font-weight: bold;
    font-size: 10px;
    padding: 12px 50px;
    color: rgb(255, 255, 255) !important;
    background-color: rgb(238, 24, 131);
    border-radius: 20px;
    box-shadow: 0px 2px 2px rgba(8, 8, 8, 0.274);
    text-transform: none;
    transition: 0.3s;
}

.butts:hover{
    background-color: rgb(252, 160, 175);
    transform: scale(1) !important;
    
}

.big-title .h1{
    font-size: 1.4rem;
    color: var(--lg-heading);
    text-transform: capitalize;
    line-height: 1.4; 
}

.text{
    font-size: 14px;
    margin: 1.5rem 0 2.5rem;
    max-width: 600px;
    font-weight: 500;
    /* line-height: 2.3;  */
}

.sample{
    width: 100%;
    /* transform: translate(15%, 25px); */
}


.big-wrap{
    background-color: white;
    padding: 1.7rem 0 2rem;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}   

.two{
    width: 70%;
    transform: translate(15%, 25px);
}

.showcase .container{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.shows .container{
    padding: 1.7rem 0 2rem;
    width: 100%;
    min-height: 100vh;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.show .container{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

/* footer */

.log{
    align-items: center;
    cursor: pointer;
    /* padding-top: 100px; */
    
    
} 

.log img{
    width: 130px;
    margin-right: 0.6rem;
    margin-top: -0.6rem;
}


footer {
    background-color: #121315;
    color: #a7a7a7;
    font-size: 16px;
  }

  footer * {
    font-family: "montserrat";
    box-sizing: border-box;
    border: none;
    outline: none;
  }

  .row {
    padding: 1em 1em;
  }

  .row.primary {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: stretch;
    margin-top: 100px;
  }

  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
  }

  h3 {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1.4em;
    white-space: nowrap;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  li:not(:first-child) {
    margin-top: 0.8em;
  }

  ul li a {
    color: #a7a7a7;
    text-decoration: none;
  }

  ul li a:hover {
    color: #2a8ded;
  }
  .about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
  }

 

  
  div.social {
    display: flex;
    justify-content: space-around;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
  }

  .social i {
    color: #ffffff;
  }
  
  .copyright {
    padding: 0.3em 1em;
    background-color: #121315;
  }

  .footer-menu{
    float: left;
      margin-top: 10px;
  }
  
  .footer-menu a{
    color: #cfd2d6;
    padding: 6px;
  
    text-decoration: none;
  }

  .footer-menu a:hover{
    color: #27bcda;
  }

  .copyright p {
    font-size: 0.9em;
    text-align: right;
  }
  
  @media screen and (max-width: 850px) {
    .row.primary {
      grid-template-columns: 1fr;
    }
  
  }
  